  *{
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 12px;
}

.center-section{
  overflow-y: scroll;
  height: 100vh;
}

.fancy-container {
  width: 100%;
  background-color: #fff;
}

.fancy-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
      background-color: #fff;
}

.fancy-header {
  background: #fff;
  font-weight: bold;
}

.fancy-cell {
    color:#000000;
    width: 50%;
  padding: 6px 8px;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.fancy_min-max{
    display: flex;
    width: 50%;
}

.fancy-cell:last-child {
  border-right: none;
  padding-right: 15px;
}

.fancy-row:hover {
  background: #f2f6fa;
}


.no {
  background: #faa9ba;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  min-width: 70px;
}

.yes {
  background: #72bbef;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  min-width: 70px;
}

.minmax {
  min-width: 90px;
}

.fancy_yes-no{
    display: flex;
}

#fancy-no-header,
#fancy-yes-header {
    background: transparent !important;
}
.min{
   font-weight: lighter;
}

.rate{
  color:#1e1e1e;
}

.fancy-cell  dd{ font-weight: lighter;}

.fancy-cell  dt{ color:#7e97a7; font-weight: 500; font-size: 11px;}

#betBoxRow > div {
  padding: 0;
  border: none;
}
.fancy-cell.yes,
.fancy-cell.no {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MOBILE BEHAVIOR SAME AS TABLE VERSION */
@media screen and (max-width: 600px) {

  /* hide the last column */
  .fancy-cell.hide-mobile {
    display: none;
  }

  .bk-price.small.faded,
  .bk-price.small {
    display: none;
  }

  .left-right {
    display: none;
  }

  #fancyBetHolder {
    width: 100%;
  }
 
}

.bk-commision{
    background-color: #e4f1f9;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.bk-title_b{
    color: #1e1e1e;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    margin: 0;
}

.bk-right{
    display: flex;
    gap: 10px;
}

.bk-box{
  width: 56px;
    background-color: #3b5160;
    color: #bed5d8;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 3px;
    font-size: 11px;
}

.bk-box .label, .bk-box .value{
    color: #bed5d8;
}


