* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


html,body{
  width:100%;

}


main{
  margin: 0 auto;
  width:80%;
}




.image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 3px;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: fadeBanner 10s infinite;
}

.image img:first-child {
  position: relative;
  opacity: 1;
  animation-delay: 0s;
}

.image img:last-child {
  animation-delay: 5s;
}

@keyframes fadeBanner {
  0%, 45% {
    opacity: 1;
  }
  50%, 95% {
    opacity: 0;
  }
}

.gif {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 4px;
  gap:4px;
}

.gif img {
    margin:0 2px 2px  2px;
  width: 49.2%;           
  height: auto;
  object-fit: contain;  
  display: block;
  cursor: pointer;
}

.pic{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.pics-img{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 50.35%;
  gap:2px;
}

.pics-img img {
    margin:0 2px 2px  2px;
  width: 48.8%;           
  height: auto;
  object-fit: contain;  
  display: block;
  cursor: pointer;
}

.baner {
  margin-left: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 6px;
  margin-bottom: 6px;
}

.baner img {
  
  width: 24.4%;           
  height: auto;          
  object-fit: cover;   
  display: block; 
  cursor: pointer;       
}


@media (max-width: 800px) {

  .baner img {
    flex: 1 1 calc(50% - 4px);
    max-width: calc(50% - 4px);
  }

  main{margin: 70px 0 0 0 !important;
  width: 100% !important;}

  .pics-img img
   {
    flex: 1 1 100%;
    max-width: 97%;
  }

  .image img{
    width: 100%;
  }

    
  .image img {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .gif {
    width: 100%;
    flex-direction: column;
  }

  .gif img {width: 100%; }
}
