* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
    font-family: tahoma,helvetica,sans-serif;
font-size: 12px;
}

.container {
    padding: 1px 10px 0  10px;
  width: 100%;
  display: flex;
  gap: 2px;
    height: max-content;
    overflow: hidden;
}

.left-section {
  /* padding:0 5px 5px 5px 5px; */
  width: 21%;
  background-color: white;
  min-height: 70vh;
  height: 100vh;
  overflow-y: scroll;
}

.left-section li a{
    list-style: none;
        display: flex;
    color: #0f0f0f;
    align-items: center;
    padding-left:10px;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #f8dd63 1px solid;
    background-color: white;
        height: 30px;
        width: 100%;
        min-width: 50px;
}

.left-section li.top a{
  background-color: #dddcd6;
}

.left-section select:focus {
    outline: none !important;
    box-shadow: none !important;
}



.left-section select{
  padding-left: 6px;
  height: 25px;
  width: 100%;
  border-left: none !important;
   border-right: none;
     border-top: none;
         border-bottom: #f8dd63 1px solid;
         cursor: pointer;

}

.left-section select{
  -webkit-appearance: none;
}



.left-section li  { list-style: none; outline: none !important; box-shadow: none !important;}

.left-section li.active  a {
  background-color: black;
 color: white;
        
}

.left-section li :hover{ background-color: #e7dede;}


.left-section ul :first-child a{
    height: 30px;
    border-radius: 2px;
 background-color: black;
 color: white;
 display: flex;
    align-items: center;
}

.center-section{
    width: 57%;
  height: 100vh;
      background-color: #eeeeee;
      overflow: scroll;
      margin: 0 15px 15px 15px ;
}



.mobile-mm{
  padding: 0 15px 0 15px;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 50px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  border-radius: 10px;
  border:2px solid rgba(131, 129, 129, 0.249);
  height: 150px;
  background-color: #fff;
}

#mobile-v,#mobile-h{
  text-align: center;
    color:#7397a7;
    font-family: Arial, Helvetica, sans-serif;

}

#mobile-v{
  padding-bottom: 10px;
  line-height: 2;
}

.multim h2{
    font-size: 14px !important;
    font-weight: bold;
        font-family: tahoma, Helvetica, sans-serif;
    padding: 10px 10px 0 10px;
}

.multim p{
    font-size: 10px;
    padding: 0 10px 10px 10px;
    background-color: #eeeeee;
    color: #00000099;
    font-family: tahoma, Helvetica, sans-serif;
}

#no-market{
     font-size: 12px;
    padding:  10px;
    background-color: #eeeeee;
    color: #1e1e1e;
    font-family: tahoma, Helvetica, sans-serif;
    margin-bottom: 300px;
}

.right-section{
  margin:0 5px 5px 0;
   position: relative;
    width: 24%;
    height: 100vh;
    background-color:white;
}

.bet-title{
    display: flex;
    height: 25px;
    background-color: #243a48;
    font-size: 12px;
    color: white;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    border-radius: 1.5px;
}

.bet-title img{
    height: 20px;
    width: 18px;
    padding-right: 5px;
}

.right-section p{
    margin-top: 15px;
    font-size: 12px;
    padding-left: 5px;
        color: #1e1e1e;
font-family: tahoma, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}

.kabaddi-img img {
    width: 100%;
    height: auto;
}

.sports-highlights {
  background-color: #fff;
  font-size: 13px;
  width: 100%;
}

/* Header (yellow bar) */
.highlight-header {
  background-color: #ffb80c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  font-weight: bold;
  color: #000;
}

.highlight-header img {
  height: 20px; 
  cursor: pointer;
}

.highlight-header select{
      background-color: #ffb80c;
      cursor: pointer;
}

.highlight-header select option{
      background-color: white;
      cursor: pointer;
}

.view-by {
  display: flex;
  align-items: center;
  gap: 6px;
}

.view-by select {
  font-size: 12px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px 4px;
}

/* League title */
.league-header {
  background-color: #e6e6e6;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  font-weight: bold;
  color: #333;
}

.l-match{
 display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 8px 10px;
  flex-wrap: wrap;
    background-color: #ced5da;
    height: 25px;
}

.r-match{
    display: flex;
    flex-shrink: 0;
}



/* Match row */
.match-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 10px;
  flex-wrap: wrap;
  background-color: #fff;
}

.match-row:hover{ background-color: #efefef;}

/* Left side (match info) */
.match-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
}

.time-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #555;
}

.match-code {
    font-size: 12px;
  font-family: tahoma,helvetica,sans-serif;
  font-weight: 500;
  color: #7777;
}

.odds-box.blue {
  background-color: #72bbef;
  font-size: 11px;
  cursor: pointer;
}

.mobile-mm { display: none;  }


.right-section .chat-icon{
    position: fixed;
    bottom: 30px;   
    right: 20px;  
  height: 75px;     
  width: 75px;
      border-radius: 34px 3px 34px 34px;
  z-index: 10000;
  cursor: pointer;
 box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);}

@media (max-width: 600px) {

  .center-section,.container{width: 100%; position: relative; }

  .container{
    position: fixed;
  }

.multim ,.left-section,.right-section{ display:none ;}

.mobile-mm { display: block; }


}

@media only screen and (max-width: 1100px){
  .left-section,.center-section,.right-section{
    margin-top: 70px;
  }
  
}
/* 
@media screen and (min-width:800px) {
    .right-section .chat-icon{
        display:none;
    }
    
} */
