.sport_menu{
    width: 100%;
    /* height: 35px; */
        display: flex;
        align-items: center;
  background-color: #ffb80c;

}

.sport_menu ul{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    gap: 3px;
}

.sport_menu li{
    display: flex;
        
    font-size: 13px;
    font-weight: bold;
    font-family: tahoma,Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-width:65px;
    height: 25px;
    border-top: 1px solid #3b5160;
        border-left: 1px solid #3b5160;

            border-right: 1px solid #3b5160;

        border-radius:  3px;
        background: #ffffff;
        color:#3b5160;
        cursor: pointer;
}

.sport_menu li:hover {
  text-decoration: underline; 
}

.sport_menu li.active{
    background: #3b5160;
    color :#ffffff
}


.sport_menu li.active a{
    color :#ffffff
}
