<div class="chat-widget" id="chatWidget" style="display:none;">
    <div class="chat-header">
        <img src="/image/sky_logo.png" class="logo_chat">
        <button class="close-btn" id="closeChat">✕</button>
    </div>

    <div class="chat-body">
        <div class="card">
            <h3 class="title">Message Us</h3>

            <div class="msg-preview">
                <img src="/image/sky_logo.png" class="faq-icon">
                <div>
                    <h4>SKYEXCH</h4>
                    <p>Make Deposits Using Bank Transaction</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="faq-header">
                <h3 class="title">FAQs</h3>
                <img src="/image/search.png" class="search-icon">
            </div>
            <hr>

            <div class="faq-item">
                <img src="/image/sky_logo.png" class="faq-icon">
                <span>Contact Us</span>
            </div>

            <hr />

            <div class="faq-item">
                <img src="/image/sky_logo.png" class="faq-icon">
                <span>Product Tours</span>
            </div>

            <hr />

            <div class="faq-item">
                <img src="/image/sky_logo.png" class="faq-icon">
                <span>Deposits</span>
            </div>

            <p class="more">Show more categories</p>
        </div>
    </div>
</div>
