    <main>
            <div class="image">
                <img src="/image/main/baner_2.jpg" alt="">
                <img src="/image/main/baner_1.jpg" alt=""> </div>

            <div class="gif">
                <img src="/image/main/gif_1.png" alt="">
                <img src="/image/main/gif_2.png" alt=""></div>

            <div class="gif">
                <img src="/image/main/gif_3.png" alt="">
                <img src="/image/main/gif_4.png" alt=""> </div>

            <div class="gif">
                <img src="/image/main/gif_5.png" alt="">
                <div class=" pics-img">
                    <img src="/image/main/img_1.png" alt="">
                    <img src="/image/main/img_2.png" alt=""></div>  </div>
            <div class="baner">
                <img src="/image/main/img_3.png" alt="">
                <img src="/image/main/img_4.png" alt="">
                <img src="/image/main/img_5.png" alt="">
                <img src="/image/main/img_6.png" alt=""> </div>

            <div class="baner">
                <img src="/image/main/img_7.png" alt="">
                <img src="/image/main/img_8.png" alt="">
                <img src="/image/main/img_9.png" alt="">
                <img src="/image/main/img_10.png" alt=""> </div>


            <div class="baner">
                <img src="/image/main/img_11.png" alt="">
                <img src="/image/main/img_12.png" alt="">
                <img src="/image/main/img_13.png" alt="">
                <img src="/image/main/img_14.png" alt=""> </div>

            <div class="baner">
                <img src="/image/main/img_17.png" alt="">
                <img src="/image/main/img_18.png" alt="">
                <img src="/image/main/img_15.png" alt="">
                <img src="/image/main/img_16.png" alt=""> </div>

            <div class="baner">
                <img src="/image/main/img_19.png" alt="">
                <img src="/image/main/img_20.png" alt="">
                <img src="/image/main/img_21.png" alt="">
                <img src="/image/main/img_22.png" alt=""> </div>

            <div class="baner">
                <img src="/image/main/img_3.png" alt="">
                <img src="/image/main/img_4.png" alt="">
                <img src="/image/main/img_5.png" alt="">
                <img src="/image/main/img_6.png" alt=""> </div>


            <div class="baner">
                <img src="/image/main/img_23.png" alt="">
                <img src="/image/main/img_24.png" alt="">
                <img src="/image/main/img_25.png" alt="">
                <img src="/image/main/img_26.png" alt=""> </div>

            <div class="baner">
                <img src="/image/main/img_7.png" alt="">
                <img src="/image/main/img_8.png" alt="">
                <img src="/image/main/img_9.png" alt="">
                <img src="/image/main/img_10.png" alt=""> </div>
    </main>