 <div class="footer-menu">
        <img src="/image/ace.png" alt="" class="ace-icon">
        <img src="/image/text.png" alt="" class="chat-icon">
        <a href="/pages/sportz.html" class="menu-item">
            <img src="/image/trop.png" alt="">
            <span>Sports</span> </a>
        <a href="/pages/inplay.html" class="menu-item">
            <img src="/image/alarm.png" alt="">
            <span>In-Play</span></a>
        <a href="/index.html" class="menu-item">
            <img src="/image/home.png" alt="">
            <span>Home</span></a>
        <a href="/pages/multimarkets.html" class="menu-item">
            <img src="/image/pin_start.png" alt="">
            <span>Multi...</span> </a>
        <a href="/pages/login_modal.html" class="menu-item">
            <img src="/image/account.png" alt="">
            <span>Account</span> </a>
    </div>